DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/messenger_db?schema=public"
JWT_SECRET="local_development_super_secret_jwt_key_987654321"
PORT=3001

# Yandex OAuth
YANDEX_CLIENT_ID="dummy_client_id"
YANDEX_CLIENT_SECRET="dummy_client_secret"
YANDEX_CALLBACK_URL="http://localhost:3001/api/auth/yandex/callback"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dpbxhssv"
CLOUDINARY_API_KEY="787173774415352"
CLOUDINARY_API_SECRET="SzCcJOQTY6oFak6I1A8ptk234M8"
CLOUDINARY_URL="cloudinary://787173774415352:SzCcJOQTY6oFak6I1A8ptk234M8@dpbxhssv"

# Email SMTP (Gmail / Custom SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dom.craft.digital@gmail.com
SMTP_PASS=hhsvzzglrdulwgos
SMTP_FROM="CraftHive <dom.craft.digital@gmail.com>"
